aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
configure.ac
install-sh
/Makefile.am
/Makefile.am.common
Makefile
Makefile.in
missing
*.pot
*.ami
*.ybc
.dep
doc/autodocs
testsuite/*.log
testsuite/*.sum
testsuite/*.test
testsuite/tmp*
testsuite/site.exp
testsuite/config
testsuite/run
test/*.log
test/*.trs
test-driver
package/*.tar.bz2
